
@{
    ViewBag.Title = "Vista2";
}

<h2>Vista2</h2>

<h1>Datos en ViewBag</h1>
<h2>@ViewBag.saludo</h2>

<h2>@ViewData["Nombre"]</h2>
<h2>@ViewBag.nombreNuevo</h2>

@Html.ActionLink("Ruta Nueva", "Index", "Home", null, new {miAtributo="valor", @class="btn btn-warning" })